@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.imgstyle{
    width: 250px;
    height: 150px;
}

.name{
    font-family: 'Poppins', sans-serif;
    color:rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}
.containerproduct{
    width: 300px;
    height: 250px;
    border: 1px solid gray; 
    border-radius: 5px;
   
}
.styledescri{
    border-left: 5px solid #485482;
    height: 98px;
}
.styledescri p {
    margin-bottom: 0px;
}

.divimg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    margin-right: 10px;
    width: 50px;
    height: 30px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color:#485482;
    color :white;
    cursor: pointer;
}
.btnStock{
    
    width: 50px;
    height: 30px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color:red;
    color :white;
    cursor: default;
}

.btnStock:hover{
    cursor: default;
}