@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');


.text {
    font-family: 'Klee One', cursive;
    background-color: #485482;
    color: ghostwhite;
}

.div2{
    background-color: #485482;
    width: 80%;
    height: 600px;
    margin: auto;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}