

.container{
    justify-content: center;
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.div2{
    background-color: #272a4d;
    width: 80%;
    height: 720px;
    margin: 150px;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}