@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');


.container{
    display: flex;
    flex-direction: column;
    width: 65%;
   
}
.containerprin{
    display: flex;
    flex-direction: row;
    
}
.containerdetail{
    display: flex;
    width: 35%;
    flex-direction: column;
    padding: 15px;
    position: fixed;
    right: 0;
}
.details{
    font-family: 'Klee One', cursive;
    font-size: 13px;
}
.buttonback{
    cursor: pointer;
    width: 300px;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    height: 40px;
    background: white;
    color: cornflowerblue;
}
.button{
    cursor: pointer;
    width: 300px;
    border-radius: 5px;
    border: none;
    height: 40px;
    background: cornflowerblue;
    color: white;
}

.img{
    width: 600px;
    height: 400px;

}

.name{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center
}
