
crud {
    display: flex;
    height: 80px;
    width: 100%;
    background: rgb(255, 255, 255);
    align-items: center;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

ul{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
  }
  crud ul li{
    margin: 35px;
  }
  crud ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }