.containerSearch{
    height:100px;
    background-color: rgba(0,126,229,.75);
}
.btn{
    background-color:#8ccb00;
    padding: 14px;
    border: none;
    border-radius: 5px;
    color: white;
}
.inputbusqueda{
    width: 500px;
    border-radius: 5px;
    border: none;
    height: 40px;
}
.styleform{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.divprin{
    display: flex;
    flex-direction: column;
}
.divsecu{
    height:35px
}
.h2{
    color: white;
    margin: 0;
}