.button {
    position: relative;
    background-color: #525252;
    border: none;
    font-size: 10px;
    color: #FFFFFF;
    padding: 20px;
    width: 5px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .pagination{
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
  }