@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.containergrid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(auto-fill,minmax(15ream,1fr));
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr ;
    grid-template-areas:
    "header"
    "section"
    "section2"
    "footer";
}
/* RESPONSIVE */
@media only screen and (max-width: 600px) {
    .containergrid {
        
    grid-template-columns: repeat(auto-fill,minmax(15ream,1fr));
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas:
        "header"
        "section"
        "section2"
        "footer";
    }
}

.header{
    height: 70px;
}
.containerdiv{
    background: rgb(255, 255, 255);
}

.ulli{
    margin-top:10px;
}
.ulli li a {
    color: black;
}
.ulli li a:hover{
    border-bottom: 1px solid;
}
