
.General{
    background-color: rgba(139, 133, 133, 0.651);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.747);
    align-content: center;
    
  }
  
  .subDiv{
    margin: 10px;
    padding: 15px;
    background-color: rgba(53, 52, 52, 0.651);
    margin: auto;
    border: 0.5px solid;
    padding: 10px;
    text-align: center;
  }
  .label{
    font-size:20px;
  }
  .selectCategory{
    width: 20%;
    padding: 7px 14px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: #52525259;
  }
  .inputActivity[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
  .inputActivity[type=text]:focus {
    background-color: lightblue;
  }
  .button3 {
    position: relative;
    background-color: #525252;
    border: none;
    font-size: 10px;
    color: #FFFFFF;
    padding: 20px 20px;
    width: 10%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  .button3:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  .button3:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .errors{
    background-color: rgba(255, 0, 0, 0.329);
  }
  
  .textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }